#main {
  & { padding-top: 0; background: none; }
  .view-source {
    width: 114px;
    height: 46px;
    margin: 0 auto 47px;
    cursor: pointer;
    background: url(../public/template/images/icon_header.png) no-repeat 50% 0;
  }
}

.footer-content .social {
  & { width: initial; display: flex; justify-content: center; }
  .icon-item {
    & { text-indent: initial; font-size: 4em; display: flex; justify-content: center; align-items: center; }
    & > a { color: white; }
    @media only screen and (max-width: 768px) {
      & { font-size: 1.2em; }
    }
  }
}
// timeline
.box_timeline ul {
  display: flex;
  justify-content: center;
}
// portfolio
.item .image img {
  min-height: 270px;
}
.popup_portfolio .contents p {
  line-height: 24px;
  &:not(:first-child) { padding-top: 0; }
  &:not(:last-child)  { padding-bottom: 0; }
}